{% extends 'base.html.twig' %}

{% block title %}Home !{% endblock %}

{% block body %}
    <div class="container">
        <div class="row">
            {% for photo in photos %}
                <div class="col-6 col-md-2 mb-4">
                    <div class="card" style="width: 100%;">
                        <img src="{{ photo.url }}" class="card-img-top" alt="...">
                        <div class="card-body">
                            <h5 class="card-title text-center">{{ photo.title }}</h5>
                            <p class="card-text">{{ photo.description }}</p>
                            <p class="card-text">{{ photo.createdAt|date('d/m/Y') }}</p>
                            <a href="{{ path('app_display_photo', {'slug': photo.slug}) }}">Voir la photo</a>
                        </div>
{#                        prix#}
                        <div class="card-footer text-center">
                            <strong>{{ photo.price }} €</strong>
                        </div>
                        <button class="btn btn-secondary add-to-cart" data-photo-id="{{ photo.id }}">
                            Ajouter au panier
                        </button>
                    </div>
                </div>
            {% endfor %}
        </div>
    </div>
    <script>
        document.addEventListener('DOMContentLoaded', function() {
            const addToCartButtons = document.querySelectorAll('.add-to-cart');

            addToCartButtons.forEach(button => {
                button.addEventListener('click', function(e) {
                    e.preventDefault();
                    const photoId = this.dataset.photoId;

                    fetch(`/cart/add/${photoId}`, {
                        method: 'POST',
                        headers: {
                            'X-Requested-With': 'XMLHttpRequest',
                            'Content-Type': 'application/json',
                            'X-CSRF-TOKEN': document.querySelector('meta[name="csrf-token"]').getAttribute('content')
                        },
                    })
                        .then(response => response.json())
                        .then(data => {
                            const cartCount = document.querySelector('.cart-count');
                            if (cartCount) {
                                cartCount.textContent = data.total;
                            }
                        })
                        .catch(error => console.error('Erreur:', error));
                });
            });
        });
    </script>


{% endblock %}

