{% extends 'base.html.twig' %}

{% block title %}{{ photo.title }}{% endblock %}

{% block body %}
    <div class="container mt-4">
        <div class="row justify-content-center">
            <div class="col-12 col-md-8">
                <img src="{{ photo.url starts with 'http' ? photo.url : asset('uploads/' ~ photo.url) }}" class="img-fluid" alt="Photo description">
                <h3 class="mt-2 text-center">{{ photo.title }}</h3>
                <p>{{ photo.description }}</p>
                <p class="fw-bold">Tags:
                    {% for tag in photo.tags %}
                        <a href="{{ path('tag_show', {'slug': tag.slug}) }}">{{ tag.name }}</a>{% if not loop.last %}, {% endif %}
                    {% endfor %}
                </p>
            </div>
        </div>
    </div>
{% endblock %}


