<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <div class="container-fluid">
        <a class="navbar-brand" href="#">VentePhotos7</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarColor02" aria-controls="navbarColor02" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarColor02">
            <ul class="navbar-nav me-auto">
                <li class="nav-item">
                    <a class="nav-link active" href="{{ path('app_home') }}">Accueil</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">Gallerie</a>
                </li>
                {% if app.user is null %}
                    <li class="nav-item">
                        <a class="nav-link" href="{{ path('app_login') }}">Connexion</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{{ path('app_register') }}">Inscription</a>
                    </li>
                {% else %}
                    <li class="nav-item">
                        <a class="nav-link" href="{{ path('app_logout') }}">Déconnexion</a>
                    </li>
                {% endif %}
                {% if app.user %}
                    <li class="nav-item"><a class="nav-link"> | </a></li>
                    <li class="nav-item">
                        <a class="nav-link" href="{{ path('app_cart') }}">
                            <button type="button" class="btn btn-primary position-relative"><i class="icon-shopping-cart"></i> <span class="position-absolute top-0 start-100 translate-middle badge rounded-pill bg-success" id="cart">{% if app.session.get('cartQty') is defined %}{{ app.session.get('cartQty') }}{% else %}0{% endif %}</span></button>
                        </a>
                    </li>
                {% endif %}
            </ul>
            {{ render(controller('App\\Controller\\SearchFormController::searchForm')) }}
            <div data-controller="autocomplete" class="position-relative">
                <form class="d-flex" action="{{ path('app_search') }}" method="get">
                    <input class="form-control me-2" type="search" id="search" name="q" placeholder="Recherche" aria-label="Search" data-autocomplete-target="input" data-action="autocomplete#search" data-autocomplete-url="{{ path('app_search') }}" />
                    <button class="btn btn-outline-success" type="submit">Recherche</button>
                </form>
                <div data-autocomplete-target="results" class="list-group position-absolute w-100"></div>
            </div>
        </div>
    </div>
</nav>
