{% extends 'base.html.twig' %}

{% block title %}Galerie pour {{ tag.name }}{% endblock %}

{% block body %}
    <div class="container">
        <h2>Galerie pour le tag : {{ tag.name }}</h2>
        <div class="row">
            {% for photo in photos %}
                <div class="col-md-4 mb-3">
                    <div class="thumbnail">
                        <img src="{{ photo.url }}" alt="{{ photo.title }}" class="img-fluid">
                        <div class="caption">
                            <h3>{{ photo.title }}</h3>
                            <p>{{ photo.description }}</p>
                        </div>
                    </div>
                </div>
            {% else %}
                <p>Aucune photo associée à ce tag.</p>
            {% endfor %}
        </div>
    </div>
{% endblock %}
