{% extends 'base.html.twig' %}

{% block title %}Mes Commandes{% endblock %}

{% block body %}
    <div class="container mt-5">
        <h2>Mes Commandes</h2>
        <table class="table table-hover">
            <thead>
            <tr>
                <th>ID</th>
                <th>Date</th>
                <th>Statut</th>
                <th>Montant Total</th>
                <th>Détails</th>
            </tr>
            </thead>
            <tbody>
            {% for order in orders %}
                <tr>
                    <td>{{ order.id }}</td>
                    <td>{{ order.createdAt|date('d/m/Y') }}</td>
                    <td>{{ order.statutOrder.name }}</td>
                    <td>{{ order.getTotalPrice()|number_format(2, ',', ' ') }} €</td>                    <td>
                        <a href="{{ path('app_order_details', {'id': order.id}) }}" class="btn btn-info btn-sm">Voir</a>
                    </td>
                </tr>
            {% else %}
                <tr>
                    <td colspan="5">Aucune commande trouvée.</td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>
{% endblock %}
